
.edit1 img{
    height:100px;
    width:100%;
    margin-top: 50px;
    margin-left:20px;
}
.edit2 img{
    height:150px;
    width:90%;
    margin-top: 50px;
    margin-left:50px;
}
.edit3 img{
    height:230px;
    width:200px;
    margin-left:180px
}
.edit4 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit5 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit6 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit7 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit8 img{
    height:230px;
    width:200px;
    margin-left:180px
}
.edit9 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit10 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit11 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit12 img{
    height:230px;
    width:200px;
    margin-left:50px;
}
.edit13 img{
    height:230px;
    width:200px;
    
    margin-left:180px
}
.edit14 img{
    height:230px;
    width:200px;
    
    margin-left:50px
}
.edit15 img{
    height:230px;
    width:200px;
    
    margin-left:50px
}
.edit16 img{
    height:230px;
    width:200px;
    
    margin-left:50px
}
.edit17 img{
    height:230px;
    width:200px;
    
    margin-left:50px
}

.update1{
    display:flex;
}

.update2{
    display:flex;
    margin-top:15px;
}
.update3{
    display:flex;
    margin-top:15px;
}
.update4{
    display:flex;
    margin-left:200px;
    margin-top:100px;
}
.edit18 img{
    height:230px;
    width:200px;
    
    
}
.edit19 img{
    height:230px;
    width:200px;
    
    
}

.edit20 img{
    height:230px;
    width:200px;
    
  
}
.edit21 img{
    height:230px;
    width:200px;
    
   
}

.edit22 img{
    height:230px;
    width:200px;
    
    
}
.edit23 img{
    height:230px;
    width:200px;
    
    
}

.edit24 img{
    height:230px;
    width:200px;
    
  
}
.edit25 img{
    height:230px;
    width:200px;
    
   
}
.update5{
    display:flex;
    margin-left:200px;
    margin-top:100px;
}
.update6{
    margin-left: 7%;
    margin-top: 45px;
    border:2px solid;
    
}
.update7{
    margin-top:55px;
   
}